* {
  box-sizing: border-box;
  font-family: "Pacifico", sans-serif;
}

.hContainer .playerOne {
  /* height: 50px;
  width: 20px; */
  /* padding-right: 50px; */
  float: right;
  padding: 10px 10px;
  margin-right: 50px;
  margin-top: 50px;
  text-align: center;
}
.playerTwo {
  float: right;
  padding: 10px 10px;
  margin-right: 50px;
  margin-top: 50px;
  text-align: center;
}
.extra {
  height: 100px;
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear {
  clear: both;
}

.mainContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 50px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}
.grid-item {
  background-color: black;
  padding: 20px;
  font-size: 20px;
  text-align: center;
  height: 100px;
  width: 50xp;
  overflow: hidden;
  color: white;
}

footer {
  padding: 0 30px 0 30px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: black;
}

.message {
  float: right;
}
.subDiv .backArrow {
  margin: 20px;
  float: left;
}

.subDiv .playagain {
  float: right;
}
.playagain {
  cursor: pointer;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 10px;
  margin-right: 50px;
  margin-top: 50px;
  border-radius: 6px;
}
.radio {
  color: black;
  padding-left: 50px;
  margin: 10px;
}

.reset {
  cursor: pointer;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  padding: 10px 10px;
  margin-right: 50px;
  margin-top: 50px;
  border-radius: 6px;
  float: right;
}
